.body{
    background-image: linear-gradient(#e66465, #9198e5);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.start{
text-align: center;


}
.image{
text-align: center;
}

.shadow{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}